DIRECTOR_TOKEN='eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik4wVkJRVEkxT1RGRk9UQkVORFJFTWpNelJFTTJPRGd4TlRFd09UWkZSakpETWpRMlF6ZzFOZyJ9.eyJpc3MiOiJodHRwczovL2JhZGF3aS5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWY0MmQzNGQ3M2VkYzEwMDNkNmVlMTY5IiwiYXVkIjpbImh0dHA6Ly8xMjcuMC4wLjE6NTAwMCIsImh0dHBzOi8vYmFkYXdpLmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTg0NzIzNzcsImV4cCI6MTU5ODU1ODc3NywiYXpwIjoibEJ3d2loQkNPbjdjanpwRXRUTWcxVGhjb3BWNHZlaFciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwicGVybWlzc2lvbnMiOlsiZGVsZXRlOmFjdG9ycyIsImdldDphY3RvcnMiLCJnZXQ6bW92aWVzIiwicGF0Y2g6YWN0b3JzIiwicGF0Y2g6bW92aWVzIiwicG9zdDphY3RvcnMiXX0.gTSOwzs-w1GCBHbbqIN7yWNWZQnus3Z3IkQRSmuCX_uC0zMfP-5COyBC52LcSv1DtdbiqMP-BLw-aPnIKW0C2ZRQLt4JBaJrC7NkfLffPW42hvDeJWvkRIZNYny5qDam5U2j-pijmqeZazcdJq8Aas9T9YfksiSBL9EbzqZnKEPsBHmbzMG6J3x70c4_9DPhozelIC0UHwxCCMLoLgej2zxWoMqOcprQl_1NXBe0TvzbgRzjTsYIg0uJ37NCsDTCX11kcmqCKnj_j3l4t2h-g7f1qzl4xoj96WWBGKeKlBBYPHh6CgIUeBpgOVLspw9C01prLXanqyAHBbgLxA7tmQ'
ASSISTANT_TOKEN='eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik4wVkJRVEkxT1RGRk9UQkVORFJFTWpNelJFTTJPRGd4TlRFd09UWkZSakpETWpRMlF6ZzFOZyJ9.eyJpc3MiOiJodHRwczovL2JhZGF3aS5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWY0MmQyYjNkNDk5NjQwMDNkZDRkMTdhIiwiYXVkIjpbImh0dHA6Ly8xMjcuMC4wLjE6NTAwMCIsImh0dHBzOi8vYmFkYXdpLmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTg0NzIyMzIsImV4cCI6MTU5ODU1ODYzMiwiYXpwIjoibEJ3d2loQkNPbjdjanpwRXRUTWcxVGhjb3BWNHZlaFciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwicGVybWlzc2lvbnMiOlsiZ2V0OmFjdG9ycyIsImdldDptb3ZpZXMiXX0.KJm2RioWjmbyvQLweCEeiCIgtPYcwx-YAghpnXipuGns4GcshB4Cy8okE6r_-sE7-l83vkplPhu3zH3OHVLyHWOfin52ho1wNaTz2Bxy9P65NoqTkWuuhVzCmLFSILuju_FzJgN0pjKv2J_yIORnDloMhjNh_hEpT7t99Bvwcl1oVtHMj44PfdcCxqsETSAHgvo33MdIaAuUtnCWZzrbndjHB2nDZNaZsVeyHICVipfM6UL5Re8OLXQqcnDR15XJnPl9Gu3ZbY5HYJQw4EMI8E0o9cltMoH_-aMi4XH0mBvFB99wSrJ64t-8k-Q6Xr_jL69iPp8q9DeBn-tpPjLGMg'
PRODUCER_TOKEN='eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik4wVkJRVEkxT1RGRk9UQkVORFJFTWpNelJFTTJPRGd4TlRFd09UWkZSakpETWpRMlF6ZzFOZyJ9.eyJpc3MiOiJodHRwczovL2JhZGF3aS5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWY0MmQzNjc4ODE3MDEwMDM3MGUxZDU1IiwiYXVkIjpbImh0dHA6Ly8xMjcuMC4wLjE6NTAwMCIsImh0dHBzOi8vYmFkYXdpLmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTg0NzIzMjIsImV4cCI6MTU5ODU1ODcyMiwiYXpwIjoibEJ3d2loQkNPbjdjanpwRXRUTWcxVGhjb3BWNHZlaFciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwicGVybWlzc2lvbnMiOlsiZGVsZXRlOmFjdG9ycyIsImRlbGV0ZTptb3ZpZXMiLCJnZXQ6YWN0b3JzIiwiZ2V0Om1vdmllcyIsInBhdGNoOmFjdG9ycyIsInBhdGNoOm1vdmllcyIsInBvc3Q6YWN0b3JzIiwicG9zdDptb3ZpZXMiXX0.Ci_lfGq4xeM_O0dttE4BmMHbXUTwaMWruTbjF0BhuJWDYuwAb9dsfcQCn1PFxl-B9Sg6zAlpbrfInMQlcmHsbkndiG1ynLZ10AvjEH_PhZzFS6PvBFaAzf9QW-BUHuyihiYlGbsiANyverEi-6D7D7D6CyGhMX_54u4o4EzTS_fUhzGNlW2dt2Oauo9JFMIPgoluYCdoNY5WOsRwyD3hhJbAb3j9nakxYofx-GiLK1Ex3ea4KjoVzfQftm1SsBnuYWReiKS-WqcqbN0zolYBHEhuXE36VWAneOap6A61E9fDdnsA49AYAXpIKDTm6WEU7qVuA0iOQKE9cUwxIHTKJg'



AUTH0_DOMAIN='badawi.auth0.com'
API_AUDIENCE='http://127.0.0.1:5000'
ALGORITHMS='RS256'


DATABASE_URL='postgresql://localhost:5432/casting-agency-db'
TEST_DATABASE_URL='postgresql://localhost:5432/casting-agency-db-test'
