DATABASE_URL=postgresql://localhost:5432/casting-agency-db
DATABASE_URL_TEST=postgresql://localhost:5432/casting-agency-db-test

DIRECTOR_TOKEN='eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik4wVkJRVEkxT1RGRk9UQkVORFJFTWpNelJFTTJPRGd4TlRFd09UWkZSakpETWpRMlF6ZzFOZyJ9.eyJpc3MiOiJodHRwczovL2JhZGF3aS5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWY0MmQzNGQ3M2VkYzEwMDNkNmVlMTY5IiwiYXVkIjpbImh0dHA6Ly8xMjcuMC4wLjE6NTAwMCIsImh0dHBzOi8vYmFkYXdpLmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTg2NjE1MTQsImV4cCI6MTU5ODc0NzkxNCwiYXpwIjoibEJ3d2loQkNPbjdjanpwRXRUTWcxVGhjb3BWNHZlaFciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwicGVybWlzc2lvbnMiOlsiZGVsZXRlOmFjdG9ycyIsImdldDphY3RvcnMiLCJnZXQ6bW92aWVzIiwicGF0Y2g6YWN0b3JzIiwicGF0Y2g6bW92aWVzIiwicG9zdDphY3RvcnMiXX0.ZDzX-6yrKrXGqKD-T82Hai00mJKMqxq-RmrFqn9iiAmeZjAseJJ6lxVbUZv33ROHwUyXU-nGJhoYDzptzCWgBFwQ7mGmAeZemNoCpiGOvXzXrlFlIJ3yWiHU3tv8M7JWBvTFoSS0UOdNLLXbCfWye_hTfRdQAN8mXTu-98soXNk80hjEc9ajWs1Sl6DzviTKzP-ApUP1oJRL4UG1yrUPiBziXZK5-t0im2_NtCnbm0l65Be3vklRD2Ey4QT2saOmNaffSeayI9NGmZ8KAlHrktCbAtYKqiJqcWk_iJkfm8BrpTr6jnQORI_pperA0XH8rLj5pLjG9fbyRirkgA5tig'
ASSISTANT_TOKEN='eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik4wVkJRVEkxT1RGRk9UQkVORFJFTWpNelJFTTJPRGd4TlRFd09UWkZSakpETWpRMlF6ZzFOZyJ9.eyJpc3MiOiJodHRwczovL2JhZGF3aS5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWY0OTFkOTAzOTdiNzAwMDY3NDUzNWQxIiwiYXVkIjpbImh0dHA6Ly8xMjcuMC4wLjE6NTAwMCIsImh0dHBzOi8vYmFkYXdpLmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTg2NjE2NjQsImV4cCI6MTU5ODc0ODA2NCwiYXpwIjoibEJ3d2loQkNPbjdjanpwRXRUTWcxVGhjb3BWNHZlaFciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwicGVybWlzc2lvbnMiOlsiZ2V0OmFjdG9ycyIsImdldDptb3ZpZXMiXX0.oAj5WVbsyOgPEMPR7h4F3-zb3jakngKWKZab8XcVbA3mr_wL_aM0R2q9iz6u1R9BTd6NKUlxJzwB3E5bKTU23pRDGu_uIPxUZ6NpulCVD0A0mOmks8Hlp14VphunTsjeo8x_yh8UYvXTtR4zquz8lth-glkf4gOJ7cVVxgFrDupWklXCkvzRHLSpeP_t7_flN_tD_4RWM8tQJQgqDWil8CkoKb1WswMSST8P58SIkywMs7UESI2tEoly_tqjX9k51nqZpoCfeVBUf9eYKySoHG7Miz5iRJgfrtg5_stYt8DcRxF2x9BZCYF-abiesRGgzwKMU_lcO1lTRKlcY3xa5g'
PRODUCER_TOKEN='eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik4wVkJRVEkxT1RGRk9UQkVORFJFTWpNelJFTTJPRGd4TlRFd09UWkZSakpETWpRMlF6ZzFOZyJ9.eyJpc3MiOiJodHRwczovL2JhZGF3aS5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NWY0MmQzNjc4ODE3MDEwMDM3MGUxZDU1IiwiYXVkIjpbImh0dHA6Ly8xMjcuMC4wLjE6NTAwMCIsImh0dHBzOi8vYmFkYXdpLmF1dGgwLmNvbS91c2VyaW5mbyJdLCJpYXQiOjE1OTg2NjE1NzgsImV4cCI6MTU5ODc0Nzk3OCwiYXpwIjoibEJ3d2loQkNPbjdjanpwRXRUTWcxVGhjb3BWNHZlaFciLCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwicGVybWlzc2lvbnMiOlsiZGVsZXRlOmFjdG9ycyIsImRlbGV0ZTptb3ZpZXMiLCJnZXQ6YWN0b3JzIiwiZ2V0Om1vdmllcyIsInBhdGNoOmFjdG9ycyIsInBhdGNoOm1vdmllcyIsInBvc3Q6YWN0b3JzIiwicG9zdDptb3ZpZXMiXX0.msI_xP-9jTJ03zrVHb99yubQ7g9W3g-tPbyGVskldPsr9Zsb_hwsUkFPr40ZepRyYn5s5F913GE910tUVlNDF19_18yO2wQvewWtg956xs6Kp2x_FzqX8XL3nennRbHM5bFGfNE7wTZ4L3GDhSx2vZjmvytVH0GX52ymekeX2RA7SSCAN6OLb_nsCSrnHjpBRdcJSqJx2LbpXuosgmzH9XdB3wa7gZVdCAjcxC69AVIrFN1c2ts0bBw8s2ECCoCDKsLmM4Pc8I345UpPW3yGobvQ5F2x8H9B8BLBDcESP3CM_prvRAesvJ6PZYAAmEvTPGIxtKyAzORLVbOlyQ0w_g'



AUTH0_DOMAIN='badawi.auth0.com'
API_AUDIENCE='http://127.0.0.1:5000'
ALGORITHMS=['RS256']
